.body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card-container {
  max-width: 500px;
  height: 200px;
  justify-content: center;
  background-color: rgb(253, 253, 251);
  border-radius: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  margin: 20px;
  overflow: hidden;
}
.blue-item {
  color: blue;
}

.red-item {
  color: red;
}

.card-image {
  height: 100%;
  object-fit: cover;
}

.test {
  display: flex;
  background-color: rgb(239, 234, 234);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
}
