.heroes-list {
  width: 540px;
  flex-direction: column;
  align-items: center;
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 227, 227);
}

.card-container {
  width: 500px;
  justify-content: center;
  background-color: rgb(253, 253, 251);
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 0.75fr 1fr 0.2fr;
  margin: 20px;
  margin-top: 0px;
  overflow: hidden;
}

.card-container p {
  margin: 5px;
}

.card-container.expanded {
  height: auto;
}

.card-container.expanded .powers-list {
  display: block;
}

.powers-list {
  display: none;
}

.blue-item {
  color: blue;
  margin-left: 20px;
}

.red-item {
  margin-left: 20px;
  color: red;
}

.card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.card-image img {
  display: none;
}

.toggle {
  cursor: pointer;
  padding-top: 20px;
}

.toggle-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f2f2;
  color: rgb(68, 66, 66);
  font-weight: bold;
}

.title {
  margin-top: 40px;
}

.added-tags {
  padding: 20px 20px 0px 20px;
  padding-bottom: 0px;
}

.tag-rectangle.selected {
  background-color: rgb(10, 156, 10);
}
